<footer>
    <nav>
        <ul>
        	<li>© 2019 CMD AMSTERDAM.</li>
            <li><a href="/">link</a></li>
            <li><a href="/">link</a></li>
            <li><a href="/">link</a></li>
            <li><a href="/">link</a></li>
        </ul>
    </nav>
</footer>
<script>
<% include ../../src/js/index.min.js %>
</script>
<script>
if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
        navigator.serviceWorker.register('../service-workers.js')
            .then(function(registration) {
                console.log("log log")
                return registration.update();
            }).catch(function(error) {});
    });
}
</script>
</body>

</html>