<header>
    <nav>
        <ul>
            <li><a href="https://www.cmd-amsterdam.nl">Home</a></li>
            <li><a href="#">Cmd</a></li>
            <li><a href="#">Studentenwerk</a></li>
            <li><a href="#">Samenwerken</a></li>
            <li><a href="#">Battery</a></li>
            <li><a href="#">Nieuws</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Search</a></li>
        </ul>
    </nav>
</header>