@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

header {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.22);
    padding: 0 4.5em;
    position: fixed;
    background: white;
    width: 90%;
    top: 0;
    z-index: 100;
}

header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0.6em 1em 0.5em 1em;
}

header nav ul li:nth-of-type(1) {
    display: block;
    flex-grow: 1;
    margin: 0;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
}


header nav ul li a:hover {
    border-bottom: 0.25em solid black;
    height: 1.8em;
}

header nav ul li a:focus{
    border-bottom: 0.25em solid black;
    height: 1.8em;
}


header nav ul li:nth-of-type(1) a:hover{
	border-bottom: none;
}

header nav ul li:nth-of-type(1) a:focus{
	border-bottom: none;
}

header nav ul li:nth-of-type(1) a {
    color: transparent;
    background-image: url(../cmd_hva_logo_black-1.png);
    height: 2.1em;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav ul li:last-of-type {
    background-image: url(../search.svg);
    background-size: cover;
    width: 1.2em;
    height: 1.2em;
    color: transparent;
}

a{
	text-decoration: none;
	color: black;
}

header nav ul li:last-of-type a:hover{
	border-bottom: none;
}

header nav ul li:last-of-type a:focus{
	border-bottom: none;
}

header nav ul li:last-of-type a{
    color: transparent;
}


.slider {
    background-image: url(../background_big.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 75vh;
}

.slider h1{
    width: fit-content;
    padding: 0.1em;
    font-size: 3em;
}

.slider>p{
    padding: 0.5em;
    width: fit-content;
}

.slider>* {
    position: relative;
    top: 50%;
    margin: 0;
}

h1{
	font-size: 1.6em;
}

article{
	z-index: 1;
}

section {
    padding: 0 5.6em;
}

.left-article{
	padding: 2em 5.6em;
}

.left-article::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -63px;
    width: 104%;
    height: 260px;
    transform: rotate(-6deg);
    z-index: 0;
    background: white;
}

.left-article article:first-of-type{
	width: 40%;
	border-right: 1px solid black;
    margin: 0 2em 0 0em;
    padding-right: 1em;
}

.left-article article a{
    padding: 1em 4em;
}

.white-block{
	border: 3px solid black;
    display: inline-block;
   	padding: 1em;
	margin: 0;
	margin-top: -3px;
}


.btn-shadow{
	box-shadow: 4px 6px 10px 3px rgba(0,0,0,0.41);
}

.black-block{
	border: 1px solid black;
    background: black;
    color: white;
    display: inline-block;
    padding: 1em;
	margin: 0;
}

.btn-hover:hover{
	opacity: 0.7;
    background: black;
    color: white;
    transform: scale(0.9);
    transition: 0.25s;
    box-shadow: 4px 6px 10px 1px rgba(0,0,0,0.41);
}

.btn-hover:focus{
	opacity: 0.7;
    background: black;
    color: white;
    transform: scale(0.9);
    transition: 0.25s;
    box-shadow: 4px 6px 10px 1px rgba(0,0,0,0.41);
}


.left-tab{
	margin-left: 15%;
}

section {
    display: flex;
}

section article {
    width: 67%;
}

.small-img {
    width: 50%;
    height: auto;
}

.middle-img {
    width: 33%;
    height: 100%;
}

.big-img {
    width: 100%;
   	height: auto;
}

.left-img {
    margin: 2em 2em 0em 0em;
}

.right-img {
    margin: 2em 2em 2em 2em;
}

section img {
    height: 100%;
}

.yellow-article{
	background: #FFF021;
}

.yellow-article a{
	margin: 0 1em 2em 0;
}

.yellow-halfarticle{
	background: #FFF021;
    margin-right: 15em;
    padding-bottom: 2em;
    margin-top: 2em;
    width: 55%;
}

.yellow-halfarticle article{
	width: 100%;
}

.yellow-halfarticle img{
    position: absolute;
    right: 4em;
    width: 25%;
    height: auto;
}

.right-article{
	padding: 2em 5.6em;
}

.right-article article:last-of-type{
	width: 40%;
	border-left: 1px solid black;
    margin: 0 0em 0 2em;
    padding-left: 1em;
}

iframe {
    background: #000;
    border: none;
    width: 58vw;
    margin: 2em 2em 2em 0;
}

footer{
	background: #595959;
	padding: 1em 5.6em;
	color: white;
	display: flex;
}

footer nav{
	width: 100%;
}

footer nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0.6em 1em 0.5em 1em;
}

footer nav ul li:nth-of-type(1) {
    display: block;
    flex-grow: 1;
    margin: 0;
    font-size: 0.8em;
}

footer nav ul{
	list-style-type: none;
}

footer nav ul li:nth-of-type(2) a{
	background-image: url(../twitter.svg);

}

footer nav ul li:nth-of-type(3) a{
	background-image: url(../facebook.svg);
}

footer nav ul li:nth-of-type(4) a{
	background-image: url(../vimeo.svg);
}

footer nav ul li:nth-of-type(5) a{
	background-image: url(../linkedin.svg);
}

footer nav ul li {
    margin-right: 1em;

}

footer nav ul li a {
    display: inline-block;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
	color: transparent;
	background-position: center;
}

.show-content .hidden{
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.3s linear,opacity 0.3s linear;
}

.show-content:hover .hidden{
	visibility: visible;
	opacity:1;
}

.mail-btn{
    padding: 1em 4em;
}

.lazy{
	opacity: 0;
}

.fade{
	opacity: 1;
	transition: 1s;
	transition: opacity 0.3s;
}

@media (max-width: 30em){
	.slider {
	    background-image: url(../background_small.jpg);
	}
}

@media (max-width: 49em) {
	.slider {
	    background-image: url(../background_middle.jpg);
	}
}


