<% include ../partials/head.ejs %>

<% include ../partials/header.ejs %>
 
<main>
	<section class="slider">
		<h1 class="white-block">Je bent offline </h1>
		<p class="black-block left-tab">:(</p>
  	</section>
          
</main>


